backend/node_modules
frontend/node_modules
backend/dist
frontend/dist
frontend/test-results
frontend/*.js
frontend/*.d.ts
frontend/*.tsbuildinfo
.DS_Store
*.log

# ignore environment files with secrets
.env
/backend/.env
/frontend/.env
.env.local
.env.*.local
backend/.env

# local deployment links
.vercel
